/**

 * @name Compact channels
 * @author lonl5445
 * @version ersion (download) 0.0.3
 * @description Compact channels list — Customizable in the theme file
 * @source https://github.com/YTGamer/bdthemes
 * @website https://discord.me/nn1080

*/

@import url(https://ytgamer.github.io/bdthemes/nifn/CompactChannels.css);

:root {
/*  Size                                                                                                            */
    --size          :   190px   ;   /* Channels list size (in px, em, etc…)                         Default: 190px  */
    --sizeOnHover   :   250px   ;   /* Channels list size on hover (in px, em, etc…)                Default: 250px  */

/*  Transitions                                                                                                     */
    --time          :   300ms   ;   /* Transition time (in ms)                                      Default: 300ms  */
    --delayIn       :   200ms   ;   /* Transition delay before resizing by --sizeOnHover (in ms)    Default: 200ms  */
    --delayOut      :   500ms   ;   /* Transition delay before resizing by --size (in ms)           Default: 500ms  */

/*  Update                                                                                                          */
    --version003_cc :   none    ;   /* Do not change pliz                                           Default: none   */
}
