#user-settings > div > div.sidebarRegion-VFTUkN.da-sidebarRegion > div > div > nav > div > div.info-1VyQPT.da-info:after {
	content: "Discord AMOLED 245" !important; /* You can show this in settings and scroll down — If you want to have the latest version of this theme, use Ctrl+R to reload Discord. */
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: 4px !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}

:root {
	--transparencycolor: 24,25,29;
	--transparencyalpha: 0;
	--messagetransparency: 0;
	--guildchanneltransparency: 0.8;
	--memberlistransparency: 0;
	--accentcolor: 66,71,77;
	--background: #000000;
	--popout: #212226;
	--backdrop: rgb(0,0,0);
	--messageboxcolor: #2a2b2f;
	--titlebarcolor: #131417;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp:before {
	content: "This version of Discord AMOLED is outdated. Please redownload the newest version from: https://github.com/YTGamer/bdthemes (or by clicking Source)" !important;
	display: var(--version004_da, block) !important;
	background-color: #3e82e5 !important;
	box-shadow: 0 0px 30px 0 #3e82e5 !important;
	color: #fff !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	height: 36px !important;
	line-height: 36px !important;
	opacity: 1 !important;
	padding-left: 4px !important;
	padding-right: 28px !important;
	position: relative !important;
	text-align: center !important;
	visibility: unset !important;
	white-space: pre !important;
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
	right: unset !important;
	max-width: unset !important;
	min-width: unset !important;
	max-height: unset !important;
	min-height: unset !important;
	transform: unset !important;
	animation: unset !important;
	z-index: 101 !important;
	pointer-events: none !important;
}
