.authBox-hW6HRx,																	/* login */
.input-cIJ7To,																		/* textinput */
.mention,																			/* mentions */
span.mention.wrapper-3WhCwL.da-wrapper.mention.interactive,							/* mentions: you */
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU,	/* channel selected */
.wrapper-1ucjTd:hover .content-3at_AU,												/* channel hover */
.full-motion .scale-3iLZhb.didRender-33z1u8,										/* popouts */
#app-mount .cozyMessage-3V1Y8y,														/* messages cozy */
.reaction-1hd86g,																	/* message reaction */
.imageWrapper-2p5ogY,																/* message images */
.wrapper-35wsBm,																	/* message invites */
#app-mount .spoilerText-3p6IlD.hidden-HHr2R9,										/* message spoilers hidden */
#app-mount .spoilerText-3p6IlD,														/* message spoilers revelated */
.scrollableContainer-2NUZem,														/* messagebox */
.channelTextArea-rNsIhG,															/* messagebox2 */
.markup-2BOw-j code.inline,															/* codelines */
.markup-2BOw-j code, .markup-2BOw-j pre,											/* codeblocks */
#app-mount .embedFull-2tM8--,														/* embeds */
.layout-2DM8Md,																		/* home/dm tabs */
.searchBarComponent-32dTOx .searchBar-6Kv8R2,										/* search indms */
.searchBar-3dMhjb,																	/* search inserver */
.xenoLib-notification-content,														/* xenolib notification */
.item-26Dhrx,																		/* settings item */
.rem-2m9HGf.botTag-2WPJ74,															/* bottags messages */
.px-10SIf7.botTag-2WPJ74,															/* bottags memberlist */
#app-mount .tooltip-2QfLtc, #app-mount .tooltipBlack-PPG47z,						/* tooltips */
.toast, .bd-toast,																	/* toasts */
.wrapper-2ZbzR9.theme-light, .wrapper-2ZbzR9.theme-dark,							/* popups */
.card-2j1p1_,																		/* permissions sync */
.theme-dark .elevationHigh-1PneE4,													/* permissions unsaved */
.userInfoViewing-16kqK3,															/* settings account */
.ctaBar-2UsjF2,																		/* serverboost */
#app-mount #bd-settings-sidebar .ui-tab-bar-item,									/* settings bd-tab */
.side-8zPYf6 .item-PXvHYJ,															/* settings logout */
.button-38aScr,																		/* settings button */
#app-mount .container-1nZlH6,														/* settings shortcuts */
.bd-addon-list .bd-card-footer button,												/* settings bd pluginsettingsbutton */
#bd-settingspane-container .ui-switch-item,											/* settings bd themes/plugins */
.bd-search-wrapper,																	/* settings bd themes/plugins search */
.activeNavItemPrimary-CRWnj6,														/* discorddevelopers activetab */
.cardLink-2yxLqu,																	/* discorddevelopers applications */
.cardImage-1XRTvy,																	/* discorddevelopers applications pfp */
.Select-control																		/* discorddevelopers sortby */
{
	border-radius: var(--borderRadius);												/* radius */
}
.mentioned-xhSam7,																	/* mentions: role + you */
.wrapper-3WhCwL.da-wrapper,															/* mentioned mention */
.themed-OHr7kt.item-PXvHYJ,															/* friendlist tabs */
#bd-settingspane-container .bd-pfbtn,												/* settings bd header */
.wrapper-3aJbIC,																	/* discorddevelopers newsletter */
.cardOptionTile-zyQcuf																/* discorddevelopers short/long */
{
	border-radius: var(--borderRadius) !important;									/* radius please */
}
.input-cIJ7To																		/* textinput */
{
	border-width: 2px;
}
.item-3T2z1R:first-child															/* permissions left */
{
	border-top-left-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
}
.item-3T2z1R:last-child																/* permissions right */
{
	border-top-right-radius: var(--borderRadius);
	border-bottom-right-radius: var(--borderRadius);
}
.headerText-1-AnT0, .container-2ax-kl {												/* categories */
	text-transform: none;
}

.xenoLib-notification-loadbar-user {												/* xenolib-notifications loadbar */
	animation: fade-loadbar-animation 1.5s ease-out infinite;
	position: unset;
}
.cozy-3raOZG .header-23xsNx:after {													/* message header */
	display: none;																	/* hide */
}
.mention																			/* mentions */
{
	padding: 0 3px;
	border: solid;
	border-width: 2px;
    box-sizing: border-box;
}
.roleColor-rz2vM0 .name-uJV0GL														/* memberlist nickname */
{
	margin-right: 10px;																/* shadowcut fix */
}
.message-2qnXI6.da-message.mentioned-xhSam7.da-mentioned {							/* mentioned */
	background-color: rgba(249, 166, 26, 0.3) !important;
}
.message-2qnXI6.da-message.mentioned-xhSam7.da-mentioned:before {					/* mention bar at left */
	display: none !important;
}
.markup-2BOw-j code.inline															/* codelines */
{
	border: solid;
	border-width: 3px;
	border-color: rgba(0, 1, 3, 0.3);
}
#app-mount .cozyMessage-3V1Y8y														/* messages cozy */
{
	border: solid;
	border-color: rgba(0, 1, 3, 0.3);
	background-color: #7289da12;
}
.scrollableContainer-2NUZem															/* messagebox */
{
	border: solid;
	border-color: rgba(0, 1, 3, 0.3);
	background-color: #7289da12;
}
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6								/* quotes */
{
	border-radius: var(--borderRadius);
	background-color: #7892da;
}
#app-mount .embedFull-2tM8--														/* embeds */
{
	border: solid;
	border-width: 3px;
}
::-webkit-input-placeholder, body, button, input, select, textarea, * {				/* txt shadow */
	text-shadow: 2px 2px 4px black !important;
	margin-right: 0 3px;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp:before {
	content: "This version of Modernizer is outdated. Please redownload the newest version from: https://github.com/YTGamer/bdthemes (or by clicking Source)" !important;
	display: var(--version004-alpha_m, block) !important;
	background-color: #3e82e5 !important;
	box-shadow: 0 0px 30px 0 #3e82e5 !important;
	color: #fff !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	height: 36px !important;
	line-height: 36px !important;
	opacity: 1 !important;
	padding-left: 4px !important;
	padding-right: 28px !important;
	position: relative !important;
	text-align: center !important;
	visibility: unset !important;
	white-space: pre !important;
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
	right: unset !important;
	max-width: unset !important;
	min-width: unset !important;
	max-height: unset !important;
	min-height: unset !important;
	transform: unset !important;
	animation: unset !important;
	z-index: 101 !important;
	pointer-events: none !important;
}
