:root {
    --server-size: var(--serverSize, 48px);
    --server-spacing: var(--serverSpacing, 10px);
    --server-container: calc(var(--server-size) + 20px);
    --serverlist-radius: 0; /* suspended, waiting for an update (maybe) */
}

#app-mount .base-3dtUhz {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
}
#app-mount .sidebar-2K8pFh {
    border-radius: 0;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: var(--server-container);
    top: var(--server-container);
    bottom: unset;
    position: absolute !important;
    left: 0;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .svg-1X37T1,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-25eVIn,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [role=group] {
    height: auto !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] {
    transform: rotate(-90deg) translateY(calc(var(--server-size) / 2.6));
    top: calc(var(--server-size) / 2 + 6px);
}
.item-2hkk8m {
    max-height: var(--server-size) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-sa6paO {
    height: var(--server-size) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .listItem-2P_4kh {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-spacing) 10px;
    position: unset;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .guildSeparator-3s64Iy {
    transform: rotate(90deg);
    width: var(--server-size);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-21YSNc {
    width: var(--server-container);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .expandedFolderBackground-2sPsd- {
    width: var(--server-size);
    left: 50%;
    border-radius: 13px;
    transform: translateX(-50%);
}
#app-mount .listItemTooltip-CDcY8J {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
}
#app-mount .listItemTooltip-CDcY8J .tooltipPointer-3ZfirK {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
}
#app-mount .friendsOnline-2JkivW {
    transform: rotate(-90deg);
    white-space: pre-line;
    font-weight: bold;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6 {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz {
    top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh {
    height: var(--server-size) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh .wrapper-1BJsBx {
    height: 100% !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
}

html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
}
html.platform-osx #app-mount .base-3dtUhz {
    top: calc(var(--server-container) + 30px) !important;
}

body.foldercontentopened .base-3dtUhz {
    transition: 0.2s ease !important;
}

body #app-mount .base-3dtUhz {
    top: 0 !important;
    bottom: var(--server-container) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ {
    top: unset !important;
    left: 100%;
    bottom: 0 !important;
    transform-origin: bottom left;
    border-top-right-radius: var(--serverlist-radius);
    border-bottom-right-radius: var(--serverlist-radius);
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ.content-Pph8t6 {
    top: unset !important;
    bottom: var(--server-container) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz {
    top: 0 !important;
    bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount .listItemTooltip-CDcY8J {
    position: absolute;
    white-space: nowrap;
    top: calc(var(--server-size) / -1 - 30px) !important;
    margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount .listItemTooltip-CDcY8J .tooltipPointer-3ZfirK {
    transform: rotate(0) !important;
    top: unset !important;
    bottom: -10px !important;
}
html.platform-osx #app-mount .base-3dtUhz {
    top: 32px !important;
}
.unreadMentionsIndicatorTop-gA6RCh, .unreadMentionsIndicatorBottom-BXS58x {
    width: calc(var(--server-size) + 21px);
}
.content-3at_AU {
    margin-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp:before {
    content: "This version of Serverlist At Bottom is outdated. Please redownload the newest version from: https://github.com/YTGamer/bdthemes (or by clicking Source)" !important;
    display: var(--version002_slab, block) !important;
    background-color: #3e82e5 !important;
    box-shadow: 0 0px 30px 0 #3e82e5 !important;
    color: #fff !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    height: 36px !important;
    line-height: 36px !important;
    opacity: 1 !important;
    padding-left: 4px !important;
    padding-right: 28px !important;
    position: relative !important;
    text-align: center !important;
    visibility: unset !important;
    white-space: pre !important;
    top: 0 !important;
    left: 0 !important;
    bottom: unset !important;
    right: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
    transform: unset !important;
    animation: unset !important;
    z-index: 101 !important;
    pointer-events: none !important;
}

/*
Serverlist at bottom build 4
*/
