//META{"name":"YTGtheme_0005_StarMaster","description":"A starry beautiful theme for your BBD!","author":"YTGamer 3000","version":"ersion auto-updated"}*//

@import url("https://github.com/YTGamer/bdthemes/blob/master/nifn/neutronx-themes/YTGtheme_0005_StarMaster.css")