//META{"name":"YTGtheme_0001_UPG","description":"First Neutron X Theme created by YTGamer 3000, with compact memberlist - Please Enjoy!","author":"YTGamer 3000","version":"ersion auto-updated"}*//

@import url("https://github.com/YTGamer/bdthemes/blob/master/nifn/neutronx-themes/YTGtheme_0001_UPG.css")