//META{"name":"YTGtheme_0002_Platform_226","description":"A cool stylish theme with customized font and colors. - Discord: https://discord.me/nn1080","author":"YTGamer 3000","version":"ersion auto-updated"}*//

@import url("https://github.com/YTGamer/bdthemes/blob/master/nifn/neutronx-themes/YTGtheme_0002_Platform_226.css")