//META{"name":"YTGtheme_0004_blue_planet","description":"Theme made by YTGamer 3000 - Discord: https://discord.me/nn1080\nv4.3 update: Fixed BG image and serverlist.","author":"YTGamer 3000","version":"ersion auto-updated"}*//

@import url("https://github.com/YTGamer/bdthemes/blob/master/nifn/neutronx-themes/YTGtheme_0004_blue_planet.css")