//META{"name":"YTGtheme_0006_frozen-discord","description":"This theme is perfect for those with cold blood","author":"YTGamer 3000","version":"ersion auto-updated"}*//

@import url("https://github.com/YTGamer/bdthemes/blob/master/nifn/neutronx-themes/YTGtheme_0006_frozen-discord.css")