@import url("https://codedotspectra.github.io/themes/neutron/importCSS/xcore.css");
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://fonts.googleapis.com/css?family=Lucida Console');
:root {
--bgImage: url('https://cdn.discordapp.com/attachments/512352189616750603/630334874133331989/unknown.png');
--brightness: 0;
--customFont: 'Lucida Console';
--PrimaryColor01: #040747;
--PrimaryColor02: #0000fe;
--RoleTitleColor: #2f2fee;
--links: #3366ff;
--ChatTextColor: #040747;
--UserPlayingTextColor: #00ff00;
--ChannelsSelectedTextColor: #23bdff;
--ChannelsDefaultTextColor: #1111ee;
--ChannelsDarkTextColor: #b2b2ff;
--NTBackgroundColor01: #000042;
--NTBackgroundColor02: #00003A;
--NTBackgroundColor03: #000030;
--NTBackgroundColor04: #000024;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div.scroller-2FKFPG.sidebarRegionScroller-3MXcoP > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT:after {
	content: "light_technology 2.0.0 by YTGamer 3000" !important;
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}