@import url("https://codedotspectra.github.io/themes/neutron/importCSS/xcore.css");
@import url('https://codedotspectra.github.io/themes/mini-themes/statusSquared.css');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
:root {
--bgImage: url('https://dummyimage.com/720x720/000000/000000.png&text=Your+text+with+d:imgsay');
--brightness: 1;
--customFont: 'Share Tech Mono';
--PrimaryColor01: #0000ff;
--PrimaryColorRGBA: rgba(0,0,255,.15);
--PrimaryColor02: #ffff00;
--links: #0000ff;
--ChatTextColor: #ffff00;
--ChannelsDefaultTextColor: #ffff00;
--ChannelsSelectedTextColor: #ffff71;
--ChannelsDarkTextColor: #717100;
--NTBackgroundColor01: #000000;
--NTBackgroundColor02: #000000;
--NTBackgroundColor03: #000000;
--NTBackgroundColor04: #000000;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div.scroller-2FKFPG.sidebarRegionScroller-3MXcoP > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT:after {
	content: "high_contrast 2.0.0 by YTGamer 3000" !important;
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}