@import url("https://codedotspectra.github.io/themes/neutron/importCSS/xcore.css");
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://fonts.googleapis.com/css?family=Kalam');
:root {
--bgImage: url('https://wallpaperplay.com/walls/full/7/7/d/27347.jpg');
--HomeButtonImg: url('https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png');
--brightness: 0.4;
--customFont: 'Kalam';
--PrimaryColor01: #ff80ff;
--PrimaryColorRGBA: rgba(255,128,255,.15);
--PrimaryColor02: #00ffff;
--links: #c58aff;
--ChatTextColor: #80ffff;
--RoleTitleColor: #ceffff;
--UserPlayingTextColor: #00ff00;
--ChannelsDefaultTextColor: #00a6a6;
--ChannelsSelectedTextColor: #00ffff;
--ChannelsDarkTextColor: #005353;
--NTBackgroundColor01: #4f004f;
--NTBackgroundColor02: #390037;
--NTBackgroundColor03: #32002e;
--NTBackgroundColor04: #2a0025;
--HSL-size: 45px;
--HSL-spacing: 20px;
--HSL-roundness: 20%;
--HSL-roundnessHover: 10%;}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div.scroller-2FKFPG.sidebarRegionScroller-3MXcoP > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT:after {
	content: "StarMaster 2.0.0 by YTGamer 3000" !important;
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}